/* TRATANDO IMAGEM DO CSS */
.listareceitas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-bottom: 80px;

}
.listareceita-img{
    border-radius: 30px;
}

.receitabox{
    width: 200px;
    font-family: Asenine,sans-serif;
    color: #174a6f;
    font-size: 22px;
    padding: 10px;
    background-color: #f7fdff;
    border-radius: 30px;
    text-align: center;
}
.receitabox a:hover{
    opacity: 0.7;

}
.receitabox a:visited{
    color: #174a6f;
}

a{
    text-decoration: none;
}

@import url('https://fonts.cdnfonts.com/css/asenine');