.preparo {
    background-color:  #f7fdff;
    padding: 30px;
    font-size: 22PX;
    font-style: italic;
    margin-bottom: 20px;
    border-radius: 20px;
}
 
.preparo:hover {
    opacity: 0.9;
}
 
.receita {
    font-size: 22px;
    padding: 30px;
    background-image:url(../img/wallpaperlistrado.png);
    font-style: italic;
 
}
 
text {
    color:  #186e8d;
    padding: 5px;
    font-size: 35px;
    font-family: Aztec Way;
}
 
h4{
    color:  #f7fdff;
    font-size: 25px;
    font-family: ;
}

h3{
    color:  #5aadc0;
    font-size: 35px;
    font-family: Cookie, sans-serif;
}

h2{
    color:  #f7fdff;
    font-size: 28px;
    font-family: ;
}

h1 {
    color: #2c95bb;
    font-size: 35px;
    font-family: Kitchen Cookies, sans-serif;
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
    accent-color: #2c95bb;
 
}
.imagem_receita {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 350px;
    padding: 50px;
}
.imagem_receita img {
    border-radius: 15px;
}

@import url('https://fonts.cdnfonts.com/css/cookie');
@import url('https://fonts.cdnfonts.com/css/kitchen-cookies');
@import url('https://fonts.cdnfonts.com/css/aztec-way');
